@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-white/10;
  }

  body {
    @apply bg-navy-950 text-white antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/20;
  }
}
